# Google Sheet configuration (SHEET_ID required)
SHEET_ID=1.........-.........pvKo
SHEET_NAME=Livesheet

# Timing and concurrency (milliseconds)
RATE_LIVE=120000 # 120000 is 2mins
RATE_OFF=420000 # 420000 is 7mins
CHECK_CONCURRENCY=6
LOOP_DELAY_MIN=10000
LOOP_DELAY_MAX=20000

# HTTP settings
USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36"
